@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* src/index.css */



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
  margin: 0;
  padding: 0;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/1002/609/152/blue-blur-abstract-simple-background-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (max-width: 300px) {
  body {
    background-size: contain; /* Adjust the background size for smaller screens */
  }
}